* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    background: rgba(255, 251, 0, 0.815);
    font-size: 16px;
    text-align: center;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    width: fit-content;
    margin: 10px auto;
    font-size: 3rem;
    font-weight: 700;
    color: rgb(255, 251, 3);
    background: rgb(5, 5, 5);
    padding: 1rem 2rem;
    border: 1px solid antiquewhite;
    border-radius: 10px;
}

.cardList {
    max-width: 90%;
    margin: 1rem 8rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-gap: 1rem;
}

ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

li {
    list-style-type: none;
    margin: 0 1rem;
    font-size: 1.4rem;
    text-transform: capitalize;
}

li:hover {
    color: yellow;
    cursor: pointer;
}

@media screen and (max-width: 400px){
    header {
        font-size: 2rem;
    }

    .cardList {
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    }

    li {
        font-size: 1rem;
    }
}

/* @media screen and (min-width:400px) and (max-width:800px){
    
} */